.search-container {
  display: block;
  width: 100%;
  margin-bottom: $baseline;

  #search {
    width: 100%;
    display: block;
    border: 1px solid rgba($color, 0.2);
    border-radius: 4px;
    padding: calc(#{$baseline} / 3) calc(#{$baseline} / 2);
    text-align: left;
    line-height: $baseline;
    font-size: $font-size;
    font-family:$font-family;
    color:$color;
    background:transparent;

    &::placeholder {
      color: rgba($color, 0.4);
    }
  }

  #search:focus {
    outline: none;
    border-color: $links;
  }

  .search-results {
    &__header {
      font-weight: bold;
      padding: 1rem 0rem;
    }

    &__items {
      margin: 0 2vw;
      padding: 0;
      list-style: circle;
    }

    &__item {
      margin-bottom: 1rem;
    }

    &__teaser {
     
    }
  }
}

#on_right {
  display: none;
}

#search-ico {
  display: none;
}